extends template
block content
    div.del_message
        p Hello #{userName}!
        | Congratulations, the product:
        br
        | type: #{productType},
        br
        | brand: #{productBrand},
        br
        | price: #{productPrice}
        br
        | was successfully deleted!
