doctype html
html
    head
        style
            include style.css
    body
        div
            div.header
                |NODE MAILER SERVICE
            block content
                br
            div.footer
                | Best regards,
                br
                | BEST SHOP team
                br
                a(href=frontendUrl) BEST SHOP
