extends template
block content
    div.update_message
        p Hello #{oldUserName}!
        | Congratulations, your account information:
        br
        | name: #{userName},
        br
        | email: #{userEmail},
        br
        | was successfully updated!
